* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
}

.menu-bar {
  background-color: rgb(0, 0, 0);
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 5;
}

.menu-bar ul {
  display: inline-flex;
  list-style: none;
  color: white;
  left: 400px;
}

.menu-bar ul li {
  width: 180px;
  margin: 10px;
  padding: 15px;
  font-size: 1.5rem;
}

.menu-bar ul li a {
  text-decoration: none;
  color: white;
}

.imglogo {
  width: 7%;
  height: 7%;
  margin: 5px 150px 5px 7px;
}

.menu-bar ul li:hover {
  background: rgb(100, 100, 100);
  border-radius: 5px;
}

.sub-menu1 {
  display: none;
}

.menu-bar ul li:hover .sub-menu1 {
  display: block;
  position: absolute;
  background-color: black;
  margin-top: 15px;
  margin-left: -15px;
  z-index: 5;
}

#principal {
  width: 100%;
}

.menu-bar ul li:hover .sub-menu1 ul {
  display: block;
  margin: 0px;
  padding: 0px;
  text-align: left;
  z-index: 5;
}

.sub-menu2 {
  display: none;
}

.menu-bar ul li:hover .sub-menu2 {
  display: block;
  position: absolute;
  background-color: rgb(0, 0, 0);
  margin-top: 15;
  margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu2 ul {
  display: block;
  margin: 0px;
  text-align: left;
}

#first-title {
  text-align: center;
  font-size: 60px;
  font-family: Anton, Arial, sans-serif;
}

#companyintro {
  font-family: Arial;
  font-size: 35px;
  margin-top: 10px;
  max-width: 700px;
  text-align: center;
}

.marcas {
  margin-left: 100px;
  margin-right: 100px;
  display: inline-flexbox;
  text-align: center;
  position: relative;
}

#lucasoillogopng {
  width: 250px;
  margin-right: 80px;
  margin-left: 80px;
  margin-bottom: 20px;
  position: absolute;
}

#peakautologopng {
  width: 250px;
  position: absolute;
  top: 45px;
  text-align: center;
  margin-left: 80px;
  margin-right: 80px;
  z-index: 1;
}

#knlogopng {
  width: 250px;
  margin-right: 80px;
  margin-left: 80px;
  position: absolute;
}

#akebonologopng {
  width: 250px;
  position: relative;
  top: -45px;
  margin-right: 200px;
}

#berrymanlogopng {
  width: 250px;
  margin-top: 75px;
}

.marcas ul li {
  display: inline-flexbox;
}

#facebooklogopng {
  width: 70px;
  margin-left: 50px;
  margin-right: 50px;
}

footer {
  background-color: black;
}

h2 {
  font-size: 60px;
}

#footercontact {
  font-family: Anton, Arial, sans-serif;
  color: white;
  position: relative;
  top: 30px;
  margin: 50px 100px 5px 50px;
}

#whatsapplogopng {
  width: 70px;
  margin-top: 45px;
}

.buttons-index {
  text-align: center;
  font-size: 25px;
  padding: 10px 20px;
}

.buttons-index button {
  margin: 30px;
  font-size: 30px;
  padding: 10px 20px;
  background-color: none;
  border-radius: 10px;
}
